		*{
 margin : 0;
 padding: 1px;
 box-sizing: border-box;
}



h1{ display: inline-block;
    margin : 0px;
    font-family: "pretendard",sans-serif;
    font-size: 100px;
    color: saddlebrown;

}

h1:hover { cursor: pointer;
    background-color:bisque;
    font-style:"pretendard";
}


img:hover{
    filter:grayscale(100%);
    opacity: 50%;
    object-fit: cover;
}



figure{
    width:150px;
    height: 100%;
    display: inline-block;
}

figcaption {
    text-align:center;
background-color:yellow; 
}

img{
    width:150px;
    heigt: 100%;
    border-radius: 50%;
}


.joji{   text-align:center;
background-color:greenyellow; 
}


body {

    margin: 20px;
    font-family: "pretendard",sans-serif;
    font-size:;
    background-color: beige;
}

details {
    cursor: pointer; 
}

.indent {
    margin-left: 20px; 

}

summary::before {
  color: palevioletred;
  font-size: 13pt;
  content: "✸ ";
}



.a{ 
color:tomato;
text-decoration : 

}



